$beige: #f4efde;

@font-face {
  font-family: "CircularStd-Bold";
  src: url('./fonts/circularStd-Bold.woff') format('woff');
}

@mixin center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@mixin popover-base {
  z-index: 10;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

/* Base Reset */
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

ul,
li {
  list-style: none;
}

/* Universal settings */
section,
nav {
  border: 4px solid black;
  font-family: "CircularStd-Bold";
}

section {
  @include center;
}

h1,
h2,
h4,
p,
br {
  padding: 0 !important;
  line-height: 2rem;
  margin: 0 !important;
  font-family: "CircularStd-Bold";
}


h4 {
  text-transform: uppercase;
  border-bottom: 3px solid black;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "CircularStd-Bold";
}

p,
ul,
li {
  font-family: 'Source Sans Pro', sans-serif;
}

a,
a:active,
a:target,
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: "CircularStd-Bold";
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 700;
}

nav ul li {
  width: auto;
  border-bottom: 3px solid $beige;
  transition: all 0.5s ease-in;
  font-family: "CircularStd-Bold";
}

nav ul li:hover {
  border-bottom: 3px solid black;
}

.container {
  display: grid;
  background: $beige;
  margin: 0 auto;
  border: 4px solid black;
}

section:hover {
  background: black;
  cursor: pointer;
  color: $beige;
  transition: 0.5s;
}

section:hover h1,
section:hover h2,
section:hover h2 a,
section:hover p a,
section.link:hover a i {
  color: $beige;
}

section:hover h4 {
  border-bottom: 3px solid $beige;
  transition: all 0.5s;
}

section:hover p a {
  text-decoration: underline;
}

img {
  position: absolute;
  cursor:default;
}

.home {
  overflow: hidden;
}

.imgcontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img.homeimg {
  position: fixed;
  width: 100%;
  object-fit: fixed;
}

.home>h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slideshow {
  font-style: italic;
  text-transform: uppercase;
  overflow: hidden;
  color: black;
  cursor: default;
}

.home,
.link {
  background: white;
}

.leftText,
.leftText2 {
  position: absolute;
  left: -1000px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.rightText,
.rightText2,
.rightText3 {
  position: absolute;
  right: -1000px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.rightText.active,
.rightText2.active,
.rightText3.active {
  right: 0;
  pointer-events: all;
  position: absolute;
  height: 100%;
  display: block;
  background: black;
  padding: 10px;
  color: $beige;
  line-height: 1.2;
  overflow-y: scroll;
}

.leftText.active,
.leftText2.active {
  left: 0;
  pointer-events: all;
  position: absolute;
  height: 100%;
  display: block;
  background: black;
  padding: 10px;
  color: $beige;
  line-height: 1.2;
  overflow-y: scroll;
}

h2.meetupLink>a {
  height: 500px;
  padding-top: 200px;
  line-height: 6rem;
  border-bottom: 3px solid $beige;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: $beige;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.job h4:last-child {
  text-decoration: none;
  border: none;
}

/* style the sliding content */

.leftText,
.leftText2,
.rightText,
.rightText2,
.rightText3 {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;

}

.textwrapper {
  width: 100%;
  padding: 50px;
  font-family: 'Source Sans Pro', sans-serif;

}

.textwrapper h2 a {
  font-family: "CircularStd-Bold";
}

.textwrapper p,
.textwrapper a {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: $beige;
}

.textwrapper ul li {
  padding-top: 10px;
  list-style-type: square;
  color: $beige;
}

.textwrapper ul li::before {
  color: $beige;
}

.githubLink,
.netlifyLink {
  color: $beige;
}

.githubLink,
.netlifyLink {
  text-align: center;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  border: 3px solid $beige;
  transition: all 0.5s ease-in-out;
}

.githubLink:hover,
.netlifyLink:hover {
  background: $beige;
  color: black;
  font-weight: 800;
}

img#mentalDiary {
  width: 50%;

}

#slide-left, #slide-right {
  cursor:default;
}

.textwrapper img {
  display: inline-block;
}

.textwrapper ul li {
  font-family: 'Source Sans Pro', sans-serif;
  color: $beige;
  display: block;
  list-style-type: square;
  line-height: 2rem;
}

.clearfix {
  clear: both;
  visibility: hidden;
  content: "";
  display: table;
}

/********* LARGEST [DESKTOP] SCREEN SIZE ****************/

@media only screen and (min-width: 961px) {
  .container {
    grid-template-columns: 4fr 4fr 4fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 4fr 4fr 2fr 1fr 1fr 3fr;
    max-width: 1240px;
    width: 80%;
    height: 85vh;
  }

  .menu-toggle {
    display: none;
  }

  .popover-left {
    grid-row: 2 / 8;
    grid-column: 1 / 3;
    @include popover-base;
  }

  .popover-right {
    grid-row: 2 / 8;
    grid-column: 3 / 7;
    @include popover-base;
  }

  header {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
  }

  .home {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url('img/g_homebg.jpg');
    background-position: center;
    background-size: contain;
  }

  nav ul {
    width: 60%;
  }

  .home>h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  #app1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  #slide-left {
    grid-row: 3 / 7;
    grid-column: 1 / 3;
    background-image: url('img/g_asianGuy.jpg');
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }

  #app2 {
    grid-row: 7 / 8;
    grid-column: 1 / 3;
  }

  #slide-right {
    grid-row: 2 / 4;
    grid-column: 3 / 7;
    background-image: url('img/g_beardman3_nyc.jpg');
    background-origin: content-box;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
  }

  .article {
    grid-row: 4 / 7;
    grid-column: 3 / 4;
    padding: 10px;
    overflow: hidden;
  }

  #app3 {
    grid-row: 4 / 5;
    grid-column: 4 / 7;
  }

  .job {
    grid-row: 5 / 7;
    grid-column: 6 / 7;
  }

  .email {
    grid-row: 5 / 5;
    grid-column: 4 / 4;
  }

  .tumblr {
    grid-row: 5 / 6;
    grid-column: 5 / 6;
  }

  .pinterest {
    grid-row: 6 / 7;
    grid-column: 5 / 6;
  }

  .linkedin {
    grid-row: 6 / 7;
    grid-column: 4 / 5;
  }

  .comm {
    grid-row: 7 / 8;
    grid-column: 3 / 7;
  }

  /*** IMAGE ***/

  #flower1 img {
    bottom: 0;
    width: 40%;
    left: -200px;
  }

  #squid img {
    width: 80%;
    top: -300px;
    right: -200px;
    z-index: -1;
  }

  #leftHand img {
    width: 15%;
    top: 0;
  }

  #rightHand img {
    width: 15%;
    right: 0;
    bottom: 0;
  }

  .projectImg {
    display: inline-block;
  }
}

/*********** MEDIUM [TABLET] SCREEN SIZE ***************/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  img {
    display: none;
  }

  nav ul {
    width: 100%;
  }

  .container {
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 5fr 2fr 5fr 2fr 1fr 1fr 2fr;
    width:100%;
    min-height: 85vh;
  }

  .menu-toggle {
    display: block;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 20px;
    transition: 0.5s ease-in;
  }

  nav {
    display: none;
  }

  nav.active {
    border: 4px solid black;
    display: block;
    position: absolute;
    background: $beige;
  }

  nav.active {
    ul {
      display: block;
    }
  }

  nav.active ul li {
    padding: 10px;
    width: 60px;
  }

  nav.active ul li a {
    margin: 0;
  }

  header {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
  }

  .popover-left {
    grid-row: 2 / 4;
    grid-column: 1 / 6;
    @include popover-base;
  }

  .popover-right {
    grid-row: 5 / 10;
    grid-column: 1 / 6;
    @include popover-base;
  }

  .home {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url('img/g_homebg2.jpg');
    background-size: cover;
    padding: 10px;
  }

  .home h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  #app1 {
    grid-row: 2 / 3;
    grid-column: 2 / 6;
  }

  #app1 h2 a {
    font-size: 2.6rem;
    line-height: 2.5rem;
  }

  #slide-left {
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    background-image: url('img/g_bird.jpeg');
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-y: center;
    background-position: center center;
  }

  #app2 {
    grid-row: 4 / 5;
    grid-column: 1 / 6;
  }

  #slide-right {
    grid-row: 5 / 6;
    grid-column: 1 / 6;
    background-image: url('img/g_lantern_ink.jpg');
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }

  .article {
    grid-row: 6 / 9;
    grid-column: 1 / 2;
    padding: 20px;
  }

  .article p {
    font-size: 1.4rem;
  }

  #app3 {
    grid-row: 6 / 7;
    grid-column: 2 / 6;
  }

  .job {
    grid-row: 7 / 9;
    grid-column: 4 / 6;
    padding: 10px;
    overflow: hidden;
  }

  section.link a i {
    transition: all .2s ease-in-out;
  }

  section.link:hover a i {
    transform: scale(2);
  }

  .email {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
  }

  .tumblr {
    grid-row: 7 / 8;
    grid-column: 3 / 4;
  }

  .pinterest {
    grid-row: 8 / 9;
    grid-column: 3 / 4;
  }

  .linkedin {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
  }

  .comm {
    grid-row: 9 / 10;
    grid-column: 1 / 6;
  }
}

@media only screen and (max-width: 960px) {
    header {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }

  .menu-toggle {
    display: block;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 20px;
    transition: 0.5s ease-in;
  }

  nav {
    display: none;
      ul {
        width: 100%;
        font-size: 10pt;
      }
  }

  nav.active {
    display: block;
    position: absolute;
    width: 100%;
    background: $beige;
    left:0;
  }

  nav.active {
    ul {
      display: block;
    }
  }

  nav.active ul li {
    padding: 10px;
    width: 80px;
  }

  nav.active ul li a {
    margin: 0;
  }
}

/************ SMALLEST [MOBILE] SCREEN SIZE *************/
@media only screen and (max-width: 400px) {
  img {
    display: none;
  }

  h1, h2, h4 {
    word-break:break-all;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 8fr 2fr 4fr 2fr 8fr 2fr 1fr 2fr;
    width: 100%;
    height: 100%;
  }

  header {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }
  .popover-left {
    grid-row: 2 / 4;
    grid-column: 1 / 5;
    @include popover-base;
  }

  .popover-right {
    grid-row: 7 / 11;
    grid-column: 1 / 5;
    @include popover-base;
  }

  .home {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .home h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .job {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    padding: 10px;
  }

  .job h4 {
    font-size: 1.5rem;
    line-height: 1.7em;
    word-break: break-all;
  }

  #app1 {
    grid-row: 4 / 5;
    grid-column: 1 / 5;

    h2 {
      font-size: 1.7rem;
    }
  }

  #slide-left {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    background-image: url('img/g_feather2.jpg');
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }

  #app2 {
    grid-row: 6 / 7;
    grid-column: 1 / 5;
  }

  #slide-right {
    grid-row: 7 / 8;
    grid-column: 1 / 5;
    background-image: url('img/g_sunnygirl_150dpi.jpg');
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }

  .article {
    grid-row: 5 / 6;
    grid-column: 1 / 5;
  }

  #app3 {
    grid-row: 8 / 9;
    grid-column: 1 / 5;
  }

  section.link a i {
    transition: all .2s ease-in-out;
  }

  section.link:hover a i {
    transform: scale(1.8);
  }

  .email {
    grid-row: 9 / 10;
    grid-column: 1 / 2;
  }

  .tumblr {
    grid-row: 9 / 10;
    grid-column: 2 / 3;
  }

  .pinterest {
    grid-row: 9 / 10;
    grid-column: 4 / 5;
  }

  .linkedin {
    grid-row: 9 / 10;
    grid-column: 3 / 4;
  }

  .comm {
    grid-row: 10 / 11;
    grid-column: 1 / 5;
  }
}