@font-face {
  font-family: "CircularStd-Bold";
  src: url("./fonts/circularStd-Bold.woff") format("woff");
}

/* Base Reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

ul,
li {
  list-style: none;
}

/* Universal settings */
section,
nav {
  border: 4px solid black;
  font-family: "CircularStd-Bold";
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

h1,
h2,
h4,
p,
br {
  padding: 0 !important;
  line-height: 2rem;
  margin: 0 !important;
  font-family: "CircularStd-Bold";
}

h4 {
  text-transform: uppercase;
  border-bottom: 3px solid black;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "CircularStd-Bold";
}

p,
ul,
li {
  font-family: 'Source Sans Pro', sans-serif;
}

a,
a:active,
a:target,
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: "CircularStd-Bold";
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-weight: 700;
}

nav ul li {
  width: auto;
  border-bottom: 3px solid #f4efde;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  font-family: "CircularStd-Bold";
}

nav ul li:hover {
  border-bottom: 3px solid black;
}

.container {
  display: -ms-grid;
  display: grid;
  background: #f4efde;
  margin: 0 auto;
  border: 4px solid black;
}

section:hover {
  background: black;
  cursor: pointer;
  color: #f4efde;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section:hover h1,
section:hover h2,
section:hover h2 a,
section:hover p a,
section.link:hover a i {
  color: #f4efde;
}

section:hover h4 {
  border-bottom: 3px solid #f4efde;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section:hover p a {
  text-decoration: underline;
}

img {
  position: absolute;
  cursor: default;
}

.home {
  overflow: hidden;
}

.imgcontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img.homeimg {
  position: fixed;
  width: 100%;
  -o-object-fit: fixed;
     object-fit: fixed;
}

.home > h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slideshow {
  font-style: italic;
  text-transform: uppercase;
  overflow: hidden;
  color: black;
  cursor: default;
}

.home,
.link {
  background: white;
}

.leftText,
.leftText2 {
  position: absolute;
  left: -1000px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.rightText,
.rightText2,
.rightText3 {
  position: absolute;
  right: -1000px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.rightText.active,
.rightText2.active,
.rightText3.active {
  right: 0;
  pointer-events: all;
  position: absolute;
  height: 100%;
  display: block;
  background: black;
  padding: 10px;
  color: #f4efde;
  line-height: 1.2;
  overflow-y: scroll;
}

.leftText.active,
.leftText2.active {
  left: 0;
  pointer-events: all;
  position: absolute;
  height: 100%;
  display: block;
  background: black;
  padding: 10px;
  color: #f4efde;
  line-height: 1.2;
  overflow-y: scroll;
}

h2.meetupLink > a {
  height: 500px;
  padding-top: 200px;
  line-height: 6rem;
  border-bottom: 3px solid #f4efde;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #f4efde;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.job h4:last-child {
  text-decoration: none;
  border: none;
}

/* style the sliding content */
.leftText,
.leftText2,
.rightText,
.rightText2,
.rightText3 {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
}

.textwrapper {
  width: 100%;
  padding: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.textwrapper h2 a {
  font-family: "CircularStd-Bold";
}

.textwrapper p,
.textwrapper a {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f4efde;
}

.textwrapper ul li {
  padding-top: 10px;
  list-style-type: square;
  color: #f4efde;
}

.textwrapper ul li::before {
  color: #f4efde;
}

.githubLink,
.netlifyLink {
  color: #f4efde;
}

.githubLink,
.netlifyLink {
  text-align: center;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  border: 3px solid #f4efde;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.githubLink:hover,
.netlifyLink:hover {
  background: #f4efde;
  color: black;
  font-weight: 800;
}

img#mentalDiary {
  width: 50%;
}

#slide-left, #slide-right {
  cursor: default;
}

.textwrapper img {
  display: inline-block;
}

.textwrapper ul li {
  font-family: 'Source Sans Pro', sans-serif;
  color: #f4efde;
  display: block;
  list-style-type: square;
  line-height: 2rem;
}

.clearfix {
  clear: both;
  visibility: hidden;
  content: "";
  display: table;
}

/********* LARGEST [DESKTOP] SCREEN SIZE ****************/
@media only screen and (min-width: 961px) {
  .container {
    -ms-grid-columns: 4fr 4fr 4fr 1fr 1fr 2fr;
        grid-template-columns: 4fr 4fr 4fr 1fr 1fr 2fr;
    -ms-grid-rows: 1fr 4fr 4fr 2fr 1fr 1fr 3fr;
        grid-template-rows: 1fr 4fr 4fr 2fr 1fr 1fr 3fr;
    max-width: 1240px;
    width: 80%;
    height: 85vh;
  }
  .menu-toggle {
    display: none;
  }
  .popover-left {
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    z-index: 10;
    pointer-events: none;
    position: relative;
    overflow: hidden;
  }
  .popover-right {
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / 8;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
    z-index: 10;
    pointer-events: none;
    position: relative;
    overflow: hidden;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .home {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    background-image: url("img/g_homebg.jpg");
    background-position: center;
    background-size: contain;
  }
  nav ul {
    width: 60%;
  }
  .home > h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  #app1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  #slide-left {
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    grid-row: 3 / 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    background-image: url("img/g_asianGuy.jpg");
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  #app2 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  #slide-right {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
    background-image: url("img/g_beardman3_nyc.jpg");
    background-origin: content-box;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .article {
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4 / 7;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    padding: 10px;
    overflow: hidden;
  }
  #app3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
  .job {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / 7;
  }
  .email {
    -ms-grid-row: 5;
    grid-row: 5 / 5;
    -ms-grid-column: 4;
    grid-column: 4 / 4;
  }
  .tumblr {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
  }
  .pinterest {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
  }
  .linkedin {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .comm {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
  }
  /*** IMAGE ***/
  #flower1 img {
    bottom: 0;
    width: 40%;
    left: -200px;
  }
  #squid img {
    width: 80%;
    top: -300px;
    right: -200px;
    z-index: -1;
  }
  #leftHand img {
    width: 15%;
    top: 0;
  }
  #rightHand img {
    width: 15%;
    right: 0;
    bottom: 0;
  }
  .projectImg {
    display: inline-block;
  }
}

/*********** MEDIUM [TABLET] SCREEN SIZE ***************/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  img {
    display: none;
  }
  nav ul {
    width: 100%;
  }
  .container {
    -ms-grid-columns: 4fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 3fr 5fr 2fr 5fr 2fr 1fr 1fr 2fr;
        grid-template-rows: 1fr 3fr 5fr 2fr 5fr 2fr 1fr 1fr 2fr;
    width: 100%;
    min-height: 85vh;
  }
  .menu-toggle {
    display: block;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 20px;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  nav {
    display: none;
  }
  nav.active {
    border: 4px solid black;
    display: block;
    position: absolute;
    background: #f4efde;
  }
  nav.active ul {
    display: block;
  }
  nav.active ul li {
    padding: 10px;
    width: 60px;
  }
  nav.active ul li a {
    margin: 0;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .popover-left {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    z-index: 10;
    pointer-events: none;
    position: relative;
    overflow: hidden;
  }
  .popover-right {
    -ms-grid-row: 5;
    -ms-grid-row-span: 5;
    grid-row: 5 / 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    z-index: 10;
    pointer-events: none;
    position: relative;
    overflow: hidden;
  }
  .home {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    background-image: url("img/g_homebg2.jpg");
    background-size: cover;
    padding: 10px;
  }
  .home h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  #app1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  #app1 h2 a {
    font-size: 2.6rem;
    line-height: 2.5rem;
  }
  #slide-left {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    background-image: url("img/g_bird.jpeg");
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #app2 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  #slide-right {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    background-image: url("img/g_lantern_ink.jpg");
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  .article {
    -ms-grid-row: 6;
    -ms-grid-row-span: 3;
    grid-row: 6 / 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding: 20px;
  }
  .article p {
    font-size: 1.4rem;
  }
  #app3 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .job {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7 / 9;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
    padding: 10px;
    overflow: hidden;
  }
  section.link a i {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  section.link:hover a i {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .email {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .tumblr {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .pinterest {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .linkedin {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .comm {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9 / 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
}

@media only screen and (max-width: 960px) {
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .menu-toggle {
    display: block;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 20px;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  nav {
    display: none;
  }
  nav ul {
    width: 100%;
    font-size: 10pt;
  }
  nav.active {
    display: block;
    position: absolute;
    width: 100%;
    background: #f4efde;
    left: 0;
  }
  nav.active ul {
    display: block;
  }
  nav.active ul li {
    padding: 10px;
    width: 80px;
  }
  nav.active ul li a {
    margin: 0;
  }
}

/************ SMALLEST [MOBILE] SCREEN SIZE *************/
@media only screen and (max-width: 400px) {
  img {
    display: none;
  }
  h1, h2, h4 {
    word-break: break-all;
  }
  .container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 2fr 8fr 2fr 4fr 2fr 8fr 2fr 1fr 2fr;
        grid-template-rows: 1fr 2fr 8fr 2fr 4fr 2fr 8fr 2fr 1fr 2fr;
    width: 100%;
    height: 100%;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .popover-left {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    z-index: 10;
    pointer-events: none;
    position: relative;
    overflow: hidden;
  }
  .popover-right {
    -ms-grid-row: 7;
    -ms-grid-row-span: 4;
    grid-row: 7 / 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    z-index: 10;
    pointer-events: none;
    position: relative;
    overflow: hidden;
  }
  .home {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .home h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .job {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    padding: 10px;
  }
  .job h4 {
    font-size: 1.5rem;
    line-height: 1.7em;
    word-break: break-all;
  }
  #app1 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  #app1 h2 {
    font-size: 1.7rem;
  }
  #slide-left {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    background-image: url("img/g_feather2.jpg");
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  #app2 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  #slide-right {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    background-image: url("img/g_sunnygirl_150dpi.jpg");
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  .article {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  #app3 {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  section.link a i {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  section.link:hover a i {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  .email {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9 / 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .tumblr {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9 / 10;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .pinterest {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9 / 10;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .linkedin {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9 / 10;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .comm {
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10 / 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
}
/*# sourceMappingURL=finalStyle.css.map */